body {
    text-align: center;
    background: url('bg.jpg');
}

.window {
    display: inline-block;
    background: #ffffff;
    height: 140px;
    width: 140px;
    margin: 10px; 
    border: solid 3px #4b4a4a;
}

.box {
    background-image: url('https://source.unsplash.com/random/110x110');
    height: 130px;
    width: 130px;
    margin: 5px;
    cursor: pointer;
}

.hold {
    border: solid 5px #ffffff;
  
}

.applied {
    background: #c7c7c7;
    filter: blur(3px);
}

.inside {
    border: outset 3px #b9b7b7;
